* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left:after {
    content: "";
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    bottom: 74%;
    transition: 00.3s;
}

.left:hover:after {
    width: 5%;
}

.smaller_name:hover {
    color: #b9ceacc2;
}

.smaller_name {
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
    font-family: Bebas Neue;
    font-weight: 400;
    text-align: center;
    color: rgb(19, 2, 2);
    display: flex;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #b9ceac;
    display: flex;
    justify-content: center;
}

.left {
    float: left;
    display: flex;
    justify-content: left;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo#box {
    width: 33%;
}

.logo#box img {
    width: 140px;
}

.logo#box a {
    color: black;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

img.confirmedphoto {
    padding-left: 25%;
}

h4.pointmain {
    padding-left: 44%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 20px;
}

li.left {
    float: left;
}

li.right {
    float: right;
    padding-right: 20px;
}

li a {
    font-size: 24px;
    display: block;
    text-decoration: none;
    padding: 8px;
    width: 100%;
    color: black;
    font-family: 'Bebas Neue', cursive;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


/*-----------modal style start
--------------------*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 11;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

button.button.thurd-mod {
    padding: 5px 90px;
}

button.button.forth-mod {
    padding: 5px 89px;
}

button.button.fifth-mod {
    padding: 5px 80px;
}

button.button.six-mod {
    padding: 5px 83px;
}

.right-col {
    background: var(--bg-color);
    /* width: 50%; */
    height: 100%;
    padding: 0.8rem 0.8rem;
    display: inline-block;
}

h1.confirmed_h1 {
    color: white;
    font-weight: 100;
    padding-left: 13%;
}

p.confirmed_p {
    color: white;
    font-size: 180%;
    padding-left: 10%;
}

.modal-content-price {
    background-color: #dac7b2;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 5px black;
    border: 1px solid #888;
    width: 40%;
}

.modal-content-confirm {
    background-color: #dac7b2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
}

img.one-month {
    width: 90%;
    display: flex;
    margin-left: 10%;
}

img.sand {
    width: 90%;
    display: flex;
    margin-left: 10%;
}

img.cof {
    width: 90%;
    display: flex;
    margin-left: 10%;
}


/* Modal Content */

.modal-content {
    background-color: #dac7b2;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 5px black;
    border: 1px solid #888;
    width: 40%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.left-col {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    justify-content: center;
    align-items: flex-end;
}

.contact-container {
    height: 100%;
    display: flex;
    background: var(--bg-color);
}

.tit {
    font-weight: 100;
}

button#cancle-btn {
    background-color: white;
    color: black;
}

div#myModal-seven-mod {
    background-color: rgb(236 224 214)C;
}

button#confBtn {
    background-color: #B9CEAC;
}


/*-----------modal style end
--------------------*/


/* end of header + navbar */

.hero img {
    position: relative;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    /* hide picture behind menu */
}


/* challenge section begin  */


/* challenge section begin game */

.title p {
    text-align: center;
    margin-top: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 180%;
}


/* beans placement */

img.thurdb {
    margin-bottom: -7%;
}

img.secb {
    margin-left: 2%;
    margin-bottom: -2%;
}

img.oneb {
    margin-left: 4%;
    margin-bottom: 1%;
}

img.cup {
    width: 18%;
    margin-left: 18%;
    z-index: 1;
}

.gameB9 {
    z-index: 2;
    margin-left: 74.5%;
    margin-top: -5%;
    position: absolute;
}

.gameB8 {
    z-index: 2;
    margin-left: 61.5%;
    margin-top: -5%;
    position: absolute;
}

.gameB7 {
    z-index: 2;
    margin-left: 49.5%;
    margin-top: 7%;
    position: absolute;
}

.gameB6 {
    z-index: 2;
    margin-left: 67.5%;
    margin-top: 1%;
    position: absolute;
}

.gameB5 {
    z-index: 2;
    margin-left: 55.5%;
    margin-top: 1%;
    position: absolute;
}

.gameB4 {
    z-index: 2;
    margin-left: 43.5%;
    margin-top: 1%;
    position: absolute;
}

.gameB3 {
    z-index: 2;
    margin-left: 31%;
    margin-top: 1%;
    position: absolute;
}

.gameB2 {
    z-index: 2;
    margin-left: 37%;
    margin-top: -4.5%;
    position: absolute;
}

.gameB1 {
    z-index: 2;
    margin-left: 25%;
    margin-top: -4.5%;
    position: absolute;
}


/* green boxes placement*/

.kutii {
    position: relative;
}

.kytiikata8 {
    margin-bottom: -5.8%;
}

.kytiikata7 {
    margin-left: 5.5%;
}

.kytiikata6 {
    margin-left: 6%;
    margin-bottom: -11.5%;
}

.kytiikata5 {
    margin-left: 12%;
    margin-top: 15.7%;
    position: absolute;
}

.kytiikata4 {
    margin-top: 15.7%;
    position: absolute;
}

.kytiikata3 {
    margin-left: 5.8%;
}

.kytiikata2 {
    position: absolute;
    margin-top: 15.8%;
    margin-left: -0.3%;
}

.kytiikata1 {
    margin-left: 23%;
    margin-top: 10%;
    z-index: 1;
}

.game img {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 20%;
}

.rewards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 44px;
    margin-bottom: -50px;
}

.one-reward {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 250px;
    height: 250px;
    margin: 0 20px;
}

.big-small-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 830px;
    height: 100px;
    background-color: #b9ceac;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.big-box {
    width: 830px;
    height: 250px;
    border: black 1px solid;
    margin: 0 20px;
}


/*button main css start */

.button-new {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border-radius: 0px;
    margin-top: 25px;
    border-style: none;
    padding: 5px 70px;
    font-size: 20px;
    cursor: pointer;
}

.button.button:hover {
    background: #D7B997;
    color: black;
}

button.button {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', cursive;
    border-radius: 0px;
    margin-top: 25px;
    border-style: none;
    padding: 5px 70px;
    font-size: 20px;
    cursor: pointer;
}


/*button main css end */

.box img {
    width: 250px;
}

.box-text-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: center; */
}

.box-text-right img {
    width: 25px;
}

.box-text-right h4 {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.points {
    font-size: 20px;
}

.hero {
    opacity: 75%;
}

img.lucycup {
    width: 13%;
    transform: rotate(118deg);
    z-index: 2;
    margin-left: -17.5%;
    margin-bottom: 4.5%;
}

.box-text-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green_square h2 {
    font-size: 1.5vw;
    font-weight: 500;
}

h1.visit {
    color: #7E0000;
}

img.r {
    width: 43%;
    margin-left: 2%;
    margin-right: 12%;
    margin-bottom: 9%;
}

.hero .page_name {
    position: absolute;
    z-index: 2;
    margin-top: 10%;
    margin-left: 30%;
    text-shadow: 3px 1px black;
    text-align: center;
    font-size: 10vw;
    font-family: Bebas Neue;
    font-weight: 400;
    text-align: center;
    color: white;
}

.text-ch {
    margin-left: 2%;
    width: 30%;
    margin-top: 5%;
}

.green_square {
    margin-top: 100px;
    width: 100%;
    height: 320px;
    background-color: #b9ceac6b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}


/* hovering effect */

.active {
    filter: invert(51%) sepia(38%) saturate(870%) hue-rotate(84deg) brightness(99%) contrast(86%);
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

img.fc {
    width: 90%;
}

img.sc {
    width: 90%;
}

img.tc {
    width: 90%;
}

img.lc {
    width: 200%;
}

img.fc {
    width: 90%;
}

img.fifthc {
    width: 90%;
}

img.sixc {
    width: 90%;
}


/* end of challenge page*/


/* mobile version */

@media (max-width:1260px) {
    /*game*/
    .thurdb {
        display: none;
    }
    .secb {
        display: none;
    }
    .oneb {
        display: none;
    }
    .kytiikata1 {
        display: none;
    }
    .kytiikata2 {
        display: none;
    }
    .kytiikata3 {
        display: none;
    }
    .kytiikata4 {
        display: none;
    }
    .kytiikata5 {
        display: none;
    }
    .kytiikata7 {
        display: none;
    }
    .kytiikata8 {
        display: none;
    }
    .kytiikata9 {
        display: none;
    }
    .kytiikata6 {
        display: none;
    }
    img.lucycup {
        margin-bottom: 14%;
    }
    .cup {
        margin-bottom: 10%;
    }
}

@media (max-width: 768px) {
    .contact-container {
        height: 100%;
        display: flex;
        align-items: center;
        /* margin: auto; */
        flex-direction: column;
        background: var(--bg-color);
    }
    .right-col {
        background: var(--bg-color);
        /* width: 50%; */
        height: 100%;
        padding: 0.8rem 0.8rem;
        display: inline-block;
    }
    .left-col {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .gameB1 {
        margin-left: 13%;
        margin-top: -4.5%;
    }
    .gameB2 {
        margin-left: 30%;
        margin-top: -4.5%;
    }
    .gameB3 {
        margin-left: 22%;
        margin-top: 3%;
    }
    .gameB4 {
        margin-left: 40.5%;
        margin-top: 1%;
    }
    .gameB5 {
        margin-left: 55.5%;
        margin-top: 1%;
    }
    .gameB6 {
        margin-left: 70.5%;
        margin-top: 3%;
    }
    .gameB7 {
        margin-left: 49.5%;
        margin-top: 9%;
    }
    .gameB8 {
        margin-left: 65.5%;
        margin-top: -5%;
    }
    .gameB9 {
        margin-left: 77.5%;
        margin-top: -5%;
    }
    h1.visitl {
        font-size: 220%;
        text-shadow: 2px 1px 10px black;
        color: white;
        font-weight: 100;
    }
    img.r {
        display: none;
    }
    .text-ch {
        width: 90%;
        padding-left: 3%;
    }
    .green_square {
        margin-top: 0;
    }
    .green_square h2 {
        font-size: 4vw;
        color: white;
        text-shadow: 4px 1px 9px black;
        font-weight: 500;
    }
    .small-box {
        padding-top: 5%;
    }
    .modal-content-confirm {
        width: 58%;
    }
    .img.confirmedphoto {
        width: 70%;
    }
    .modal-content-price {
        width: 58%;
    }
    .modal-content {
        width: 80%;
    }
    div#myModal-seven-mod {
        width: 106%;
    }
    img.fc {
        width: 80%;
        display: flex;
        margin-left: 10%;
    }
    img.sc {
        width: 80%;
        display: flex;
        margin-left: 10%;
    }
    img.tc {
        width: 80%;
        display: flex;
        margin-left: 10%;
    }
    img.lc {
        width: 84%;
        display: flex;
        margin-left: 10%;
    }
    img.fifthc {
        width: 80%;
        display: flex;
        margin-left: 10%;
    }
    img.sixc {
        width: 90%;
        display: flex;
        margin-left: 10%;
    }
    .right-col.spend {
        background: var(--bg-color);
        /* width: 50%; */
        display: flex;
        align-items: center;
        /* margin-left: 8%; */
        height: 100%;
        padding: 0.8rem 0.8rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
    }
    /* header + nav bar*/
    .title p {
        font-size: 140%;
        padding-top: 3%;
    }
    .green_square img {
        margin-right: 1%;
    }
    .text-ch {
        width: 150%;
    }
    h1.visit {
        font-size: 130%;
    }
    .menu {
        display: none;
        position: absolute;
        background-color: #b9ceac;
        right: 0;
        z-index: 3;
        left: 0;
        text-align: left;
        padding: 16px 0;
    }
    .thurdb {
        display: none;
    }
    .secb {
        display: none;
    }
    .oneb {
        display: none;
    }
    .kytiikata1 {
        display: none;
    }
    .kytiikata2 {
        display: none;
    }
    .kytiikata3 {
        display: none;
    }
    .kytiikata4 {
        display: none;
    }
    .kytiikata5 {
        display: none;
    }
    .kytiikata7 {
        display: none;
    }
    .kytiikata8 {
        display: none;
    }
    .kytiikata9 {
        display: none;
    }
    .kytiikata6 {
        display: none;
    }
    .menu li:hover {
        display: inline-block;
        background-color: #b9ceac;
        transition: 0.3s ease;
    }
    input[type=checkbox]:checked~.menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
    li a {
        font-size: 24px;
    }
    .mobile {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    /* end of header + nav bar*/
    /* rewards section */
    button.button.thurd-mod {
        padding: 5px 67px;
    }
    button.button.forth-mod {
        padding: 5px 60px;
    }
    button.button.fifth-mod {
        padding: 5px 60px;
    }
    button.button.six-mod {
        padding: 5px 60px;
    }
    button.button {
        margin-top: 1px;
        padding: 5px 49px;
    }
    .rewards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    img.p {
        width: 8%;
    }
    .box img {
        width: 200px;
    }
    .box {
        width: 200px;
        height: 200px;
        border: black 1px solid;
        margin: 20px 20px;
    }
    .big-small-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -20px;
        margin-bottom: 40px;
        width: 200px;
        height: 100px;
        background-color: #b9ceac;
    }
    .big-box {
        width: 200px;
        height: 200px;
        border: black 1px solid;
        margin: 20px 20px;
    }
    .box-text-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-text-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* end rewards section */
    /* footer */
    footer {
        width: 100%;
        height: 224px;
        background-color: #b9ceac;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .left-part-footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .right-part-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-footer img {
        width: 160px;
    }
    .info-links-mobile {
        display: flex;
        flex-direction: column;
    }
    .social-media {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}